@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

html, body {
  /* Ensure full height across all devices */
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #0f172a; /* Tailwind's slate-900 */
  color: #f3f2f2;
}

* {
  box-sizing: border-box;
}